{% extends "base.html" %}

{% block body %}
<section class="header">
  <h2 class="title">Change Password</h2>
  <div class="row">
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <div class="three columns value-prop"></div>
    <div class="six columns">
      <form method=post>
        {% csrf_token %}
        <div class="row">
          {{ form }}
        </div>
        <div class="row">
          <input type="submit" class="button button-primary" value="Change">
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
